.app__fullMenu-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.full-menu-section{
    border: 1.5px solid var(--color-golden);
    padding: 3rem 3rem 3rem 3rem; 
    
}

.full-menu-img {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 110px;
    height: 110px;
}

@media screen and (max-width: 650px){
 .full-menu-img {
    display: none;
 }
}
